<div>
    <div>
        <img src='#' class='w-100'>
    </div>
    <div>
        <h1>
           Stay Updated
        </h1>
    </div>
    <div class='flex'>
        <div class='flex-column'>
            Email
        </div>
        <div class='flex-column flex-grow'>
            <input type='text'>
        </div>
    </div>
</div>