<div class='w-100'>
    <div class=''>
        <div class='tc f2'>
            Stay Updated
        </div>
        <div class='w-100'>
            <div class='tc dib w-20'>
                Email
            </div>
            <div class='dib w-70'>
                <input type='email' class='w-100'>
            </div>
        </div>
        <div class='bg--doers-blue white w-70 tc w-100 mr1'>
            Subscribe
        </div>
    </div>
</div>