<div class='w-100'>
    <div>
        <h1 class='tc'>Upcoming Events</h1>
    </div>
    <%= @events.each do |event| %>
        <%= render partial: 'event', :locals => {:event => event} %>
    <% end %>
</div>