<div class='w-100 bg--doers-blue'>
    <div>
        <div class='f3 tc white'>Upcoming Events</h1>
    </div>
    <div class='pa2 ma3 mb0'>
        <% if @events.present? %>
            <% @events.each do |event| %>
                <%= render partial: 'event', :locals => {:event => event} %>
            <% end %>
        <% else %>
            There are no upcoming events
        <% end %>
    </div>
</div>