<div class='w-100 br2 bg--light-gray'>
    <div class='pa0'>
        <h1>
            Meetup Title
        </h1>
    </div>
    <div class='flex-column dib pa2'>
        Meetup description Meetup description Meetup description Meetup description Meetup description Meetup description
        Meetup description Meetup description Meetup description Meetup description Meetup description Meetup description
        Meetup description Meetup description Meetup description Meetup description Meetup description Meetup description
    </div>
    <div class='w-100'>
        <div class='white bg--red pa2 tc fw7'>RSVP</div>
    </div>
</div>

