<div class='w-100'>
    <div class='mw4 '>
        <img src='./logo.png' class='w-100' />
    </div>
    <div class='w-100'>
        <div class='pa0 fw7 f5 white pa1' style='background-color: rgb(74, 144, 226);'>
            Doers International - English Learning Group
        </div>
    </div>
</div>