<div class='w-100 border-color--blue ba pa2'>
    <div>
        <h1 class='pa0'>
            Doers International
        </h1>
    </div>
    <div>
        English Learning Group
    </div>
</div>
<div class='flex'>
    <div class='w-33 dib h-100 ba border-color--blue flex-column'>
        <%= render 'events' %>
    </div>
    <div class='w-66 dib h-100 ba border-color--blue h-100 flex-column'>
        <div class='w-100 flex'>
            <div class='w-33 dib h-100 flex-column ba border-color--red'>
                <%= render 'email_form' %>
            </div>
            <div class='w-66 dib h-100 flex-column ba border-color--red'>
                <%= render 'about' %>
            </div>
        </flex>
    </div>
</div>


