/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.flex {display: flex;}
.flex-column {flex-direction: column;}
.flex-row {flex-direction: row;}
.flex-grow {flex-grow: 1;}
.flex-nowrap { flex-wrap: nowrap;}

.fw0 {font-weight: 0;}
.fw1 {font-weight: 100;}
.fw2 {font-weight: 200;}
.fw3 {font-weight: 300;}
.fw4 {font-weight: 400;}
.fw5 {font-weight: 500;}
.fw6 {font-weight: 600;}
.fw7 {font-weight: 700;}
.fw8 {font-weight: 800;}
.fw9 {font-weight: 900;}


.f0 {font-size: 0;}
.f1 {font-size: 1rem;}
.f2 {font-size: 2rem;}
.f3 {font-size: 3rem;}

.overflow-hidden {overflow: hidden;}


.absolute {position: absolute;}
.relative {position: relative;}

.tc { text-align: center;}
.dib { display: inline-block;}
.db {display: block;}
.di {display: inline; }
.dt {display: table; }

.br0 {border-radius: 0;}
.br1 {border-radius: .25rem;}
.br2 {border-radius: .5rem;}
.br3 {border-radius: 1rem;}
.br4 {border-radius: 2rem;}

.pa0 {padding: 0;}
.pa1 {padding: .25rem;}
.pa2 {padding: .5rem;}
.pa3 {padding: 1rem;}
.pa4 {padding: 2rem;}

.pl0 {padding-left: 0;}
.pl1 {padding-left: .25rem;}
.pl2 {padding-left: .5rem;}
.pl3 {padding-left: 1rem;}
.pl4 {padding-left: 2rem;}

.pr0 {padding-right: 0;}
.pr1 {padding-right: .25rem;}
.pr2 {padding-right: .5rem;}
.pr3 {padding-right: 1rem;}
.pr4 {padding-right: 2rem;}

.pt0 {padding-top: 0;}
.pt1 {padding-top: .25rem;}
.pt2 {padding-top: .5rem;}
.pt3 {padding-top: 1rem;}
.pt4 {padding-top: 2rem;}

.pb0 {padding-bottom: 0;}
.pb1 {padding-bottom: .25rem;}
.pb2 {padding-bottom: .5rem;}
.pb3 {padding-bottom: 1rem;}
.pb4 {padding-bottom: 2rem;}


.ma0 {margin: 0px;}
.ma1 {margin: .25rem;}
.ma2 {margin: .5rem;}
.ma3 {margin: 1rem;}
.ma4 {margin: 2rem;}

.mt0 {margin-top: 0px;}
.mt1 {margin-top: .25rem;}
.mt2 {margin-top: .5rem;}
.mt3 {margin-top: 1rem;}
.mt4 {margin-top: 2rem;}

.mb0 {margin-bottom: 0px;}
.mb1 {margin-bottom: .25rem;}
.mb2 {margin-bottom: .5rem;}
.mb3 {margin-bottom: 1rem;}
.mb4 {margin-bottom: 2rem;}

.ml0 {margin-left: 0px;}
.ml1 {margin-left: .25rem;}
.ml2 {margin-left: .5rem;}
.ml3 {margin-left: 1rem;}
.ml4 {margin-left: 2rem;}

.mr0 {margin-right: 0px;}
.mr1 {margin-right: .25rem;}
.mr2 {margin-right: .5rem;}
.mr3 {margin-right: 1rem;}
.mr4 {margin-right: 2rem;}



.mr0 {margin-right: 0;}
mr1 {margin-right: 1rem;}

.w-100 { width: 100%;}
.w-50 {width: 50%;}
.w-33 {width: 33%;}
.w-66 {width: 66%;}

.h0 {height: 0;}
.h1 {height: 1rem;}
.h2 {height: 2rem;}
.h3 {height: 4rem;}
.h4 {height: 8rem;}
.h5 {height: 16rem;}
.h6 {height: 32rem;}

.w0 {width: 0;}
.w1 {width: 1rem;}
.w2 {width: 2rem;}
.w3 {width: 4rem;}
.w4 {width: 8rem;}
.w5 {width: 16rem;}
.w6 {width: 32rem;}

.mw0 {max-width: 0;}
.mw1 {max-width: 1rem;}
.mw2 {max-width: 2rem;}
.mw3 {max-width: 4rem;}
.mw4 {max-width: 8rem;}
.mw5 {max-width: 16rem;}
.mw5-5 {max-width: 24rem;}
.mw6 {max-width: 32rem;}

.h-10 {height: 10%;}
.h-20 {height: 20%;}
.h-30 {height: 30%;}
.h-40 {height: 40%;}
.h-50 {height: 50%;}
.h-60 {height: 60%;}
.h-70 {height: 70%;}
.h-80 {height: 80%;}
.h-90 {height: 90%;}
.h-100 {height: 100%;}

.w-10 {width: 10%;}
.w-20 {width: 20%;}
.w-30 {width: 30%;}
.w-40 {width: 40%;}
.w-50 {width: 50%;}
.w-60 {width: 60%;}
.w-70 {width: 70%;}
.w-80 {width: 80%;}
.w-90 {width: 90%;}
.w-100 {width: 100%;}

.border-color--red {border-color: #ff0000;}
.border-color--blue {border-color: #0000ff;}

.white {color: #ffffff;}
.black {color: #000000;}


.ba {
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
}

.bb {
    border-style: solid;
    border-bottom-width: 1px;
}

.bg--red {background-color: #ff0000;}
.bg--white {background-color: #ffffff;}
.bg--black {background-color: #000000;}
.bg--light-gray {background-color: #cccccc;}
.bg--doers-green {background-color: #3AB549;}
.bg--doers-blue {background-color: #0F75BC;}


.overflow-y-hide-show {overflow-y: scroll;}